body {
    background-color: antiquewhite;
}
#container {
  
  width : 400px;
}
 .span{ 
   display:none;
   font-style: oblique;
   margin-left: 45px;
   color: red green ;
}  
textarea{
  display:none;
  border :1px solid blue;
  margin-left: 16px;
}
#list {
  display: none;
  margin-left: 16px;
  border :1px solid blue;
} 